@font-face {
    font-family: 'BricolageGrotesque';
    src: url(../fonts/BricolageGrotesque-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: 'BricolageGrotesque';
    src: url(../fonts/BricolageGrotesque-Light.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: 'BricolageGrotesque';
    src: url(../fonts/BricolageGrotesque-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: 'BricolageGrotesque';
    src: url(../fonts/BricolageGrotesque-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'Dephiana';
    src: url(../fonts/Dephiana.ttf);
  }


* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 15px;
}

body {
    font-family: 'BricolageGrotesque';
    color: #0D0C0B;
    background-color: #E2CFDB;
}

/* HEADER   HEADER   HEADER   HEADER   HEADER*/

header {
  height: 100vh;
  height: -webkit-fill-available;
  background:  url('../img/sing_different_15.jpg'), no-repeat;;
  background-size: cover;
  background-position: 65% 50%;
}

header::before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(247,243,237,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 15%;
  bottom: 0;
}

header .logo {
  max-width: 200px;
  margin: unset;
  position: absolute;
  top: 10px;
  left: 30px;
  position: fixed;
  z-index: 10;
}

/* INTRO    INTRO    INTRO    INTRO    INTRO*/

#intro {
  height: auto;
  min-height: 130vh;
  background: url('../img/bearbeitet/sing_different_img_5.jpg');
  background-size: cover;
  background-position: 35% 100%;


  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

#intro::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(247,243,237,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 100vh;
}

#intro::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

.text {
  margin-top: 200px;
  margin-bottom: 500px;
  max-width: 50%;
  z-index: 1;
}

.text p {
  margin-bottom: 50px;
  font-size: calc(6px + 1vw);
  text-align: justify;
  font-weight: 300;
}


/* GALERIE    GALERIE     GALERIE     GALERIE    GALERIE*/

#galerie::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
}

#galerie::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

#galerie {
	width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
	background: #fff;
  position: relative;
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
  position: absolute;
  bottom: 3%;
  left: calc(50% - 40px);
  transform: translateX(-50%);
	display: flex;
	list-style: none;
  gap: 10px;
  max-width: 100vw;
  z-index: 10;
}

.tab img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
}
.tab:hover label {
	border-top-color: #333;
	color: #333;
}

.tabbed {
	overflow-x: hidden;
}

#galerie h2{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #D1C3BE;
}

.pics {
	display: none;
}

.picture{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) img,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) img,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) img,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) img,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) img,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) img,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: -12px;
  filter: grayscale(0%);;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .pics:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .pics:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .pics:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .pics:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .pics:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .pics:nth-of-type(6),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .pics:nth-of-type(7){
	display: block;
}

/* INTRO02    INTRO02    INTRO02    INTRO02    INTRO02*/

#intro02 {
  background-color: black;
  height: 100vh;


  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.text02 {
  gap: 50px;
  max-width: 50%;
  z-index: 1;
  color: #D1C3BE;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text02 p {
  font-size: calc(6px + 1vw);
  text-align: justify;
  font-weight: 300;
  color: #D1C3BE;
}


/* PLAYLIST    PLAYLIST    PLAYLIST    PLAYLIST    PLAYLIST*/
#playlist::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
}

#playlist::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

#playlist {
height: 100vh;
height: -webkit-fill-available;
background: url('../img/sing_different_7.jpg');
background-size: cover;
background-position: 55% 100%;



display: flex;
flex-direction:column;
align-content: center;
flex-wrap: wrap;
position: relative;
}

.playlistText{
color:  #D1C3BE;
text-align: center;
position: relative;
top: 10%;
}

.song label{
  color:  #D1C3BE;
}

#auswahl{
display: flex;
flex-direction: column;
position: absolute;
bottom: 15%;
left: 50%;
transform: translateX(-50%);
z-index: 10;
background-color: rgb(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
padding: 20px;
border-radius: 20px;
}



#audioPlayer{
  margin-top: 100px;
}

#songs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER    FOOTER    FOOTER    FOOTER    FOOTER*/
footer::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
}

footer{
  height: 40vh;
  background: url('../img/sing_different_9.jpg');
  background-size: cover;
  background-position: 100% 60%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.logo_footer{
  width: 120px;
  height: auto;
  margin-left: 30px;
}


.info {
  color: white;
  margin-left: 30px;
  z-index: 10;
}

.p_01{
  margin-top: 30px;
}

ul{
  color: white;
  margin-left: 30px;
  z-index: 10;
}

footer img{
  width: 30px;
  height: auto;
  margin-left: 0px;
  z-index: 10;
}

.social{
  display: flex;
  flex-direction: row;
}


@media (max-width: 800px) {

    header {
      height: 100vh;
      height: -webkit-fill-available;
      background:  url('../img/sing_different_14-mobile.jpg'), no-repeat;;
      background-size: cover;
      background-position: 65% 50%;
    }

    header .logo {
      z-index: 2;
      display: block;
      margin: 0 auto;
      position: relative;
      padding-top: 5%;
      filter: brightness(0%) invert(100%);
    }

    /* INTRO    INTRO    INTRO    INTRO    INTRO*/
    .text{
      margin-top: 100px;
      margin-bottom: 250px;
      max-width: 80%;
    }
    
    .text p{
      font-size: 14px;
    }

    /* GALERIE    GALERIE     GALERIE     GALERIE    GALERIE*/
    .tab img{
      width: 40px;
      height: 40px;
      bottom: 1%;
    }

    .tabs {
      bottom: 0.5%;
      left: calc(50% - 25px);
      transform: translateX(-50%);
    }

    .pics img{
      opacity: 0;
    }

    .picture1{
      background: url('../img/sing_different_5-mobile.jpg');
      background-size: cover;
      background-position: 20% 50%;
    }

    .picture2{
      background: url('../img/sing_different_17-mobile.jpg');
      background-size: cover;
      background-position: 65% 50%;
    }

    .picture3{
      background: url('../img/sing_different_14-mobile.jpg');
      background-size: cover;
      background-position: 40% 50%;
    }

    .picture4{
      background: url('../img/sing_different_7-mobile.jpg');
      background-size: cover;
      background-position: 50% 50%;
    }

    .picture5{
      background: url('../img/sing_different_10-mobile.jpg');
      background-size: cover;
      background-position: 65% 50%;
    }

    .picture6{
      background: url('../img/sing_different_1-mobile.jpg');
      background-size: cover;
      background-position: 30% 50%;
    }

    .picture7{
      background: url('../img/sing_different_3-mobile.jpg');
      background-size: cover;
      background-position: 90% 50%;
    }

    .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) img,
    .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) img,
    .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) img,
    .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) img,
    .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) img,
    .tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) img,
    .tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) img{
      width: 60px;
      height: 60px;
      top: -8px;
    }

    #playlist {
      background: url('../img/sing_different_img_3-mobile.jpg');
      background-size: cover;
      background-position: 50% 50%;
    }

    /* INTRO02    INTRO02    INTRO02    INTRO02    INTRO02*/
    
    .text02 {
      margin-top: 100px;
      margin-bottom: 250px;
      max-width: 80%;
    }
    
    .text02 p{
      font-size: 14px;
    }

}
