@font-face {
    font-family: 'BricolageGrotesque';
    src: url(../fonts/BricolageGrotesque-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: 'Dephiana';
    src: url(../fonts/Dephiana.ttf);
  }


* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 15px;
}

body {
    font-family: 'BricolageGrotesque';
    color: #0D0C0B;
    background-color: #000;
}

/* ANIMATION  ANIMATION  ANIMATIONM */

.logo__container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animation{
  height: 300vh;
  width: 100vw;
  background-color: #000;
  position: absolute;
  z-index: 1002;
}

@keyframes backgroundAnimation{
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes logoAnimation{
  20% {transform: scale(1);}
  30% {transform: scale(0.7);}
  75% {transform: scale(110);}
  100% {transform: scale(1);}
}



#animation{
  animation: backgroundAnimation 2.5s linear forwards;
}

#animation .logo{
  animation: logoAnimation 4s ease-in forwards;
}

#animaton::animationiteration {
  display: none;
}

/* HEADER   HEADER   HEADER   HEADER   HEADER*/

header {
  height: 100vh;
  height: -webkit-fill-available;
  background:  url('../img/sing_different_15.jpg'), no-repeat;;
  background-size: cover;
  background-position: 65% 50%;
}

header::before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(247,243,237,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 15%;
  bottom: 0;
}

header .logo {
  max-width: 200px;
  margin: unset;
  position: absolute;
  top: 10px;
  left: 30px;
  position: fixed;
  z-index: 10;
}

/* INTRO    INTRO    INTRO    INTRO    INTRO*/

#intro {
  height: auto;
  min-height: 130vh;
  background: url('../img/bearbeitet/sing_different_img_5.jpg');
  background-size: cover;
  background-position: 35% 100%;


  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

#intro::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(247,243,237,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 100vh;
}

#intro::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

.text {
  margin-top: 200px;
  margin-bottom: 500px;
  max-width: 50%;
  z-index: 1;
}

.text p {
  margin-bottom: 50px;
  font-size: calc(6px + 1vw);
  text-align: justify;
  font-weight: 300;
  line-height: 1.3;
}

.text .SD{
  font-weight: 700;
  color: #6d688c;
  font-style: italic;
}


/* GALERIE    GALERIE     GALERIE     GALERIE    GALERIE*/

#galerie::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30.1%;
  overflow: hidden;
}

#galerie::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

#galerie {
	width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
	background: #fff;
  position: relative;
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
	display: flex;
	list-style: none;
  gap: 10px;
  max-width: 100vw;
  z-index: 10;
}

.tab img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
}
.tab:hover label {
	border-top-color: #333;
	color: #333;
}

.tabbed {
	overflow-x: hidden;
}

#galerie h2{
    color:  #D1C3BE;
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 40px;
    font-weight: 700;
    width: 100vw;
}

#galerie h2 .sehen{
  font-weight: 300;
  font-style: italic;
}

.pics {
	display: none;
}

.picture{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) img,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) img,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) img,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) img,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) img,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) img,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: -12px;
  filter: grayscale(0%);;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .pics:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .pics:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .pics:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .pics:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .pics:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .pics:nth-of-type(6),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .pics:nth-of-type(7){
	display: block;
}

/* INTRO02    INTRO02    INTRO02    INTRO02    INTRO02*/

#intro02 {
  background-color: black;
  height: 100vh;


  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.text02 {
  gap: 50px;
  max-width: 50%;
  z-index: 1;
  color: #D1C3BE;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text02 p {
  font-size: calc(6px + 1vw);
  text-align: justify;
  font-weight: 300;
  color: #D1C3BE;
  font-weight: 600;
  line-height: 1.3;
}

.text02 .gesang{
  font-weight: 400;
  font-style: italic;
}


/* PLAYLIST    PLAYLIST    PLAYLIST    PLAYLIST    PLAYLIST*/
#playlist::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
}

#playlist::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

#playlist {
height: 100vh;
height: -webkit-fill-available;
background: url('../img/sing_different_7.jpg');
background-size: cover;
background-position: 55% 100%;

display: flex;
flex-direction:column;
align-content: center;
flex-wrap: wrap;
position: relative;
}

.playlistText{
color:  #D1C3BE;
text-align: center;
position: relative;
top: 10%;
font-size: 40px;
font-weight: 700;
}

.playlistText .musik{
  font-weight: 300;
  font-style: italic;
}


.song label{
  color:  #D1C3BE;
}

#auswahl{
width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
bottom: 15%;
left: 50%;
transform: translateX(-50%);
z-index: 10;
background-color: rgb(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
padding: 20px;
border-radius: 20px;
}

#audioPlayer{
  margin-top: 30px;
}

#songs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabbed02 [type="radio"] {
	display: none;
}

.tabs02 {
	display: flex;
	list-style: none;
  gap: 10px;
  max-width: 100vw;
}

.tab02 img{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
}
.tab02:hover label {
	border-top-color: #333;
	color: #333;
}

.tabbed {
	overflow-x: hidden;
}

#galerie h2{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #D1C3BE;
}

.lied {
	display: none;
  text-align: center;
  color: #D1C3BE;
}

.picture{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.tabbed02 [type="radio"]:nth-of-type(1):checked ~ .tabs02 .tab02:nth-of-type(1) img,
.tabbed02 [type="radio"]:nth-of-type(2):checked ~ .tabs02 .tab02:nth-of-type(2) img,
.tabbed02 [type="radio"]:nth-of-type(3):checked ~ .tabs02 .tab02:nth-of-type(3) img{
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  filter: grayscale(0%);
  position: relative;
  bottom:10px;
}

.tabbed02 [type="radio"]:nth-of-type(1):checked ~ .song:nth-of-type(1),
.tabbed02 [type="radio"]:nth-of-type(2):checked ~ .song:nth-of-type(2),
.tabbed02 [type="radio"]:nth-of-type(3):checked ~ .song:nth-of-type(3){
	display: block;
}



/* FOOTER    FOOTER    FOOTER    FOOTER    FOOTER*/
footer::before {
  position: absolute;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
}

footer{
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  position: relative;
}

.logo_footer{
  width: 120px;
  height: auto;
}

.info div {
  display: flex;
  flex-direction: column;
  color: #E2CFDB;
  padding: 10px;
}

footer .email{
  color: #6d688c;
}

.social{
  display: flex;
  flex-direction: row;
}

footer a{
  text-decoration: none;
  color:#E2CFDB;
}

footer ul{
  display: flex;
  flex-direction: column;
}

footer li img{
  padding: 10px 5px;
  width: 30px;
  height: auto;
}

footer .copy-container{
  color: #E2CFDB;
  bottom: 10%;
}

footer .logo-container{
  top: 25%;
}

footer .logo-container, footer .copy-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}