@media (max-width: 800px) {

    /* ANIMATION  ANIMATION  ANIMATION */
    #animation .logo{
      width: 75vw;
      height: auto;
    }
  
    /* HEADER  HEADER  HEADER  HEADER */
      header {
        background:  url('../img/sing_different_14-mobile.jpg'), no-repeat;;
        background-size: cover;
        background-position: 65% 50%;
      }
  
      header .logo {
        z-index: 1001;
        display: block;
        margin:0;
        position: fixed;
        left: 50%;
        top: -2vh;
        transform: translateX(-50%);
        height: 7vh;
        padding-top: 5%;
        filter: brightness(0%) invert(100%);
      }
  
      header .logo_fixed{
        height: 15vh;
        width: 100vw;
        background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 100%);
        position: fixed;
        z-index: 1000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -webkit-mask: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
      }
  
      /* INTRO    INTRO    INTRO    INTRO    INTRO*/
      .text{
        margin-top: 100px;
        margin-bottom: 250px;
        max-width: 80%;
      }
      
      .text p{
        font-size: 14px;
      }
  
      /* GALERIE    GALERIE     GALERIE     GALERIE    GALERIE*/
      #galerie h2{
        font-size: 30px;
      }
  
      .tab img{
        width: 40px;
        height: 40px;
        bottom: 1%;
      }
  
      .tabs {
        bottom: 0.5%;
        left: (50% + 8px);
        transform: translateX(-50%);
      }
  
      .pics img{
        opacity: 0;
      }
  
      .picture1{
        background: url('../img/sing_different_5-mobile.jpg');
        background-size: cover;
        background-position: 20% 50%;
      }
  
      .picture2{
        background: url('../img/sing_different_17-mobile.jpg');
        background-size: cover;
        background-position: 65% 50%;
      }
  
      .picture3{
        background: url('../img/sing_different_14-mobile.jpg');
        background-size: cover;
        background-position: 40% 50%;
      }
  
      .picture4{
        background: url('../img/sing_different_7-mobile.jpg');
        background-size: cover;
        background-position: 50% 50%;
      }
  
      .picture5{
        background: url('../img/sing_different_10-mobile.jpg');
        background-size: cover;
        background-position: 65% 50%;
      }
  
      .picture6{
        background: url('../img/sing_different_1-mobile.jpg');
        background-size: cover;
        background-position: 30% 50%;
      }
  
      .picture7{
        background: url('../img/sing_different_3-mobile.jpg');
        background-size: cover;
        background-position: 90% 50%;
      }
  
      .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) img,
      .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) img,
      .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) img,
      .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) img,
      .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) img,
      .tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) img,
      .tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) img{
        width: 60px;
        height: 60px;
        top: -8px;
      }
  
      /* PLAYLIST   PLAYLIST   PLAYLIST*/
  
      .playlistText{
        font-size: 30px;
        }
  
      #playlist {
        background: url('../img/sing_different_img_3-mobile.jpg');
        background-size: cover;
        background-position: 50% 50%;
      }
  
      #auswahl{
        width: auto;
        }
  
      /* INTRO02    INTRO02    INTRO02    INTRO02    INTRO02*/
      
      .text02 {
        margin-top: 250px;
        margin-bottom: 250px;
        max-width: 80%;
      }
      
      .text02 p{
        font-size: 14px;
      }
  
      #intro02 {
        height: 80vh;
      }
  
      /* FOOTER   FOOTER   FOOTER   FOOTER */
      footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 250px;
        position: relative;
        font-size: 12px;
      }
      footer .logo-container{
        top: 0%;
      }
  
  }  